main {
    height: 100%;
    width: 50%;
    margin: 0%;
    padding: 0%;
    display:grid;
    grid-template-columns: 25% 80% 15% ;
}
div {
    margin: 20px;
}

h4 {background-color: whitesmoke;
border: 3px;
border-color: black;}

.portland {
    display: grid;
    ;
    
}
ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}
.county {
    display: flex;
    flex-direction: row;
    background-color: white;
    background-size: 0%;
}
header {
    color: black;
    font-weight: bold;
    background-color: lightgray;
    grid-template: rows;
    border: 2px;
    border-color: black;
}

.left {
    display: grid;
    color: blue;
    background-color: white;
}
 .middle {
     color: blue;
    display: grid;
    background-color: white
    ;
    display: flex;
    flex-direction: column;

}

.bold-middle {
    display: flex;
    flex-direction: column;
}
.mid-mids1 { 
    display: flex;
    flex-direction: column;
}
.mid-mids2 {
    display: flex;
    flex-direction: column;
}

.right {
    color: blue;
    display: grid;
    background-color: white;
    grid-template-rows: 45px 25px 25px ;
}